<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= textContent %></p>
<p>REACH OUT TO ME via 
    <a href="https://www.linkedin.com/in/anuragsinha03/">LinkedIn,</a>
    <a href="mailto:anuraagrk4@gmail.com">Mail</a>
</p>
<%- include('partials/footer'); -%>